<h2>Add a Category:</h2>

<form action="/category" method="post">
  <div class="form-group">
    <label for="name">Add category:</label>
    <input class="form-control" type="text" name="name" id="name" style="width: 30%">

  </div>
  <button name="submit" class="btn btn-primary">Add</button>
</form>
